# Coursera Peer Graded Assignment NoteBook

This notebook is created for sole purpose of assignment. This notebook contains many points relevant to exercise questions

Data Science Programming Languages :-

<ol> 
    <li>Python</li>
    <li>R</li>
    <li>JavaScript</li>
    <li>Java</li>
    <li>C++</li>
</ol>

Data Science Libraries :-

<ol>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>Plotly</li>
    <li>Pandas</li>
    <li>numpy</li>
    <li>scipy</li>
    <li>scikit-learn</li>
    <li>Tensorflow</li>
    <li>nltk</li>
    <li>pytorch</li>
</ol>

Data Science Tools :-

<table>
    <tr><td>PostgreSQL</td></tr>
    <tr><td>Apache Hive</td></tr>
    <tr><td>GitHub</td></tr>
    <tr><td>JupyterLab</td></tr>
    <tr><td>RStudio</td></tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>Kubeflow</td></tr>
</table>

Arithmetic Expressions :-

Arithmetic expression examples can be a + b = c

In [ ]:
# Below expression is an example of arithmetic operations
5 * 54 + 34

304

In [5]:
# Below is function written to calculate minute to hours
def minutesToHours(minutes: int) -> float:
    return minutes / 60.0
minutesToHours(366)

6.1

<strong>Objectives</strong>

<ul>
    <li>Follow exercise questions properly</li>
    <li>Take screenshot</li>
    <li>Share it through github repo by pushing all changes</li>
</ul>

Author @surojeetGhosh